# Python
__pycache__/
evaluation/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
birdenv/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Project specific
llm/exp_result/
llm/mini_dev_data/
eval_result/
*.sqlite
*.sqlite-journal
.api_config
working_mysql_password.txt

# Databases
*.db
*.sql

# OS specific
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp

bird_becnch/
llm/dev_data/
evaluation/__pycache__/